*{
    border: 0;
}
.hu{
 height: 500px;
 background-image: url(https://images7.alphacoders.com/133/thumb-1920-1338271.png);
 font-size: 60px;
 font-weight: 600;
 text-align: center;
 color: white;
}

.search-features{
    display: flex;
    overflow: hidden;
    margin-left: 15%;
}
.search-features input{
    width: 40%;
    margin-left: 0%;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    color: black;
}

.search-features button{
    background-color: rgb(53, 220, 53);
    font-size: 20px;
    padding: 5px;
    color: white;
    border-top-right-radius:2px;
    border-bottom-right-radius: 2px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.our-rooms, .citys-head{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
.citys-desc{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.place{
 height: 400px;
 width: 400px;
 background-image: url(https://www.mistay.in/travel-blog/content/images/2018/03/mumbai-1.jpg);
 object-fit: cover;
 font-size: 60px;
 font-weight: 600;
 text-align: center;
 color: rgb(0, 0, 0);
}
.allcitys{
    margin-left: 10%;
    width: 80%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
.stepss{
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.Accommondation{
    margin-left: 10%;
    margin-top: 70px;
}
.middle{
    display: flex;
    margin-left: 10%;
    margin-top: 45px;
    gap: 30px;
    margin-bottom: 80px;
}
.one{
    display: block;
    width: 300px;
}
.oneh1{
    color: #374151;
    font-weight: 700;
    font-size: 20px;
}
.oneimg{
    width: 50px;
    height: 50px;
    max-height: 50px;
}
.onep{
    margin-top: 5px;
}


